<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.carp</key>
	<true/>
	<key>com.apple.developer.carp</key>
	<true/>
	<key>com.apple.private.CarPlayUIServices.cluster-theme</key>
	<true/>
	<key>com.apple.UIKit.status-bar-override-allow</key>
	<true/>
	<key>get-task-allow</key>
	<true/>
</dict>
</plist>
